#Comment {
   padding: 1rem;
   border: 2px solid white;
   border-radius: 1.25rem;
   background: black;
   color: white;
   cursor: text;
   font-size: 1.1rem;
   transition: 0.2s;
   width: 100%;
   height: 7rem;
}

#formValues {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   background-color: black;
}
.FormSection {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
   align-items: center;
}

.InputSectionTitle {
   font-size: 1.5rem;
   background-color: black;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
}

.ToggleGroup {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
   margin-top: 0.5rem;
   justify-content: center;
}

.ToggleBtn {
   padding: 6px 14px;
   border: 2px solid white;
   border-radius: 1.25rem;
   background: black;
   color: white;
   cursor: pointer;
   font-size: 1.1rem;
   transition: 0.2s;
}

.ToggleBtn:hover {
   background: white;
   color: black;
}

.ToggleBtn.active {
   background: white;
   border-color: black;
   color: black;
}

.ToggleBtn.active:hover {
   background: #ccc;
}

.FormInput {
   background-color: black;
   width: 100%;
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   input {
      width: 70%;
      padding: 6px 14px;
      border: 2px solid white;
      border-radius: 1.25rem;
      background: black;
      color: white;
      cursor: text;
      font-size: 1.1rem;
      transition: 0.2s;
   }
}

#Submit {
   border: solid red 3px;
   border-radius: 10px;
   padding: 1rem;
   background-color: black;
   color: red;
   text-decoration: none;
}

#Submit:hover {
   transition: 0.2s;
   background-color: red;
   color: white;
   border-color: black;
   cursor: pointer;
}

#Submit:active {
   background-color: indianred;
}

#Submit::after {
   color: darkred;
   border-color: darkred;
}

#Submit:disabled {
   color: gray;
   border-color: gray;
}
